/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
}

/* Sun styling */
#sun {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 100px;
    transition: transform 0.5s ease;
    color: lightgray; /* Changed text color to light gray */
}

#disappear {
    position: absolute;
    left: 70px;
    top: 270px;
    width: 200px;
    font-size: 18px;
}

/* Mercury styling */
#mercury {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 12px;
    position: absolute;
    left: 350px;
    top: 350px;
    cursor: pointer;
}

/* Jupiter styling */
#jupiter {
    width: 300px;
    height: 300px;
    background-color: purple;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    left: 600px;
    top: 150px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#factsParagraph {
    position: absolute;
    left: 600px;
    top: 50px;
    width: 300px;
}